@use "../all" as *;

.buttonContainer {
  .button {
    font: inherit;
    padding: 0.75em 2em;
    min-width: 10vw;
    font-size: 2ch;
    cursor: pointer;
    border-radius: 10px;
    font-weight: 400;

    border: 1px solid rgba($color: $white, $alpha: 0.75);
    color: $white;
    // background: rgba($color: $white, $alpha: 0.15);
    background: rgba($color: $black, $alpha: 0.45);

    // backdrop-filter: blur(8px);
    // -webkit-backdrop-filter: blur(8px);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);

    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out,
      font-weight 300ms ease-in-out;
    &:hover {
      box-shadow: 0 0 0 2px rgba($color: $white, $alpha: 0.65);
      background: rgba($color: $white, $alpha: 0.8);
      color: $orange;
      font-weight: 500;
    }

    @media (max-width: 768px) {
      width: 175px;
    }
  }
}

.buttonContainer:nth-child(1) {
  margin-right: 10%;

  @media (max-width: 768px) {
    margin-right: 0;
  }
}
