@use "../all" as *;

.heroIsland {
  .heroHeader {
    width: 70%;
    display: flex;
    flex-direction: column;
    opacity: 1;
    transform: translateX(-200px);
    //   transform: translateY(40px);

    h1 {
      font-size: clamp(6ch, 10ch, 12ch);
      letter-spacing: 0.05em;
      line-height: 0.95;
      opacity: 0;
    }

    h1:nth-child(2) {
      align-self: flex-end;
      transform: translateX(0.4em);
    }

    @media (max-width: 768px) {
      align-items: center;
      h1:nth-child(2) {
        align-self: center;
        transform: translateX(0);
      }
    }
  }

  .heroSubHeader {
    width: 100%;
    opacity: 0;

    h2 {
      font-style: italic;
      font-weight: 400;
    }

    @media (max-width: 768px) {
      padding: 1em 2em;
    }
  }

  .heroButtons {
    display: flex;
    justify-content: flex-start;
    width: 100%;

    a {
      button {
        font: inherit;
        padding: 0.75em 2em;
        min-width: 10vw;
        font-size: 2ch;
        cursor: pointer;
        border-radius: 10px;
        font-weight: 400;

        &:hover {
          box-shadow: 0 0 40px 40px $white inset;
          // box-shadow: inset 30em 0 $white;
          color: $black;
        }

        border: 1px solid rgba($color: $white, $alpha: 0.75);
        box-shadow: inset 0 0 $white;
        color: $white;
        background: rgba($color: $white, $alpha: 0.15);
        backdrop-filter: blur(8px);
        -webkit-backdrop-filter: blur(8px);

        // box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);

        transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
        // &:hover {
        //   box-shadow: 0 0 0 2px rgba($color: $white, $alpha: 0.65);
        //   background: rgba($color: $white, $alpha: 0.8);
        //   color: $white;
        // }
      }
    }

    a:nth-child(1) {
      margin-right: 10%;
    }

    @media (max-width: 768px) {
      flex-direction: column;
      align-items: center;
      gap: 2vh;

      a {
        button {
          width: 175px;
        }
      }

      a:nth-child(1) {
        margin-right: 0;
      }
    }
  }
}
