@use "../all" as *;

.heroIsland {
  .heroHeader {
    width: 40%;
    display: flex;
    flex-direction: column;
    opacity: 1;
    transform: translateX(-200px);
    //   transform: translateY(40px);

    h1 {
      font-size: clamp(6ch, 8.5ch, 10ch);
      letter-spacing: 0.05em;
      line-height: 0.95;
      opacity: 0;
    }

    h1:nth-child(2) {
      align-self: flex-end;
      transform: translateX(0.1em);
    }

    @media (max-width: 768px) {
      align-items: center;
      width: 100%;

      h1:nth-child(2) {
        align-self: center;
        transform: translateX(0);
      }
    }
  }

  .heroSubHeader {
    width: 100%;
    opacity: 0;
    transform: translateX(-50px);

    h2 {
      font-style: italic;
      font-weight: 400;
    }

    @media (max-width: 768px) {
      padding: 1em 2em;
    }
  }

  .homeHeroHeader {
    width: 70%;
    h1:nth-child(2) {
      align-self: flex-end;
      transform: translateX(0.4em);
    }
    @media (max-width: 768px) {
      width: 100%;
      h1:nth-child(2) {
        align-self: center;
        transform: translateX(0);
      }
    }
  }

  .heroButtons {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    opacity: 0;

    @media (max-width: 768px) {
      flex-direction: column;
      align-items: center;
      gap: 2vh;
    }
  }
}
