@use "./all" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

html {
  background-color: $black;
  // background-color: $white;
}

body {
  font-family: $body-font, sans-serif;
  margin: 0 auto;
  width: 100%;
}

h1 {
  font-family: $header-font;
}

:has(.mobile-button[aria-expanded="true"]) .mobile-nav {
  display: block;
}

// :has(.mobile-button[aria-expanded="true"]) .mobile-button {
//   color: $black;
// }
