---
import MainLayout from "../layouts/MainLayout.astro";
import Hero from "../components/home/Hero.astro";
const pageTitle = "Jesse Firestone";
---

<MainLayout pageTitle={pageTitle}>
  <Hero />
  <h2>My awesome blog subtitle</h2>
</MainLayout>
