---
import MainLayout from "../layouts/MainLayout.astro";
import Greeting from "../components/Greeting";
const pageTitle = "Blog Test";
---

<MainLayout pageTitle={pageTitle}>
  <h2>My awesome blog subtitle</h2>
  <Greeting client:load messages={["Hi", "Hello", "Howdy", "Hey there"]} />
</MainLayout>
