---
import { Image } from "astro:assets";
import Button from "../global/Button.astro";
---

<style lang="scss">
  @use "../../styles/all" as *;

  .aboutSection {
    width: 100vw;
    display: flex;
    // align-items: center;
    justify-content: center;
    flex-direction: row;

    .aboutContainer {
      color: $white;
      width: 50vw;
      margin-top: 2%;

      h1 {
        font-size: 5ch;
        letter-spacing: 0.02em;

        &::after {
          content: "";
          width: 80%;
          display: block;
          background-color: $orange;
          height: 0.5vh;
        }
      }
      p {
        width: 80%;
        line-height: 1.6;
      }
    }

    .imageContainer {
      width: 40vw;

      img {
        width: 100%;
        height: auto;
        vertical-align: middle;
        font-style: italic;
        background-repeat: no-repeat;
        background-size: cover;
        shape-margin: 1rem;
        object-fit: cover;
        aspect-ratio: 1 / 1;
        display: block;

        object-position: center;
        background-attachment: fixed;
        background-position: center;
      }
    }
  }
  @media (max-width: 768px) {
    .aboutSection {
      width: 100vw;
      flex-direction: column-reverse;
      justify-content: center;
      align-items: center;
      gap: 1.5vh;
      margin-top: 4%;

      .aboutContainer {
        width: 80vw;

        h1 {
          // text-align: center;

          &::after {
            // width: 100%;
          }
        }

        p {
          text-align: left;
          align-self: center;
          width: 70vw;
        }
      }

      .imageContainer {
        width: 100vw;

        img {
          margin: 0 auto;
          width: 80%;
        }
      }
    }
  }
</style>

<section class="aboutSection">
  <section class="aboutContainer">
    <h1>Climbing Coach and Enthusiast</h1>
    <p>
      Hi! I&#39;m Jesse, a climber, developer, training geek, and climbing
      philosopher. One time, my friends started calling me J-Fire, for better or
      worse. I started climbing in 2007, in a humble converted racquetball court
      at my university. I remember those days well. I was instantly hooked on
      the joy and simplicity of the movement. It&#39;s not an understatement to
      say that climbing changed my life. And what makes climbing so incredible
      is the number of people I meet out at the crag who feel the same way.
      It&#39;s both obvious and yet baffling how something so elegantly simple
      can have such a profound impact on all kinds of different people.
    </p>
    <p>
      Not sure where your climbing is going? Overwhelmed by a thousand instagram
      posts suggesting a million different things you should go do right now to
      get better at climbing? It&#39;s not just you. We live in an age of
      overwhelming information. One of the best things I can do as a coach is
      help you cut through the noise and figure out what to do with your
      climbing.
    </p>
    <Button cta="Learn More" link="/coaching">
      <!-- <p>
      You can work with me on an 8 or 12-week basis. These are offered through
      Camp 4 Human Performance. I also offer a 4 hour technique and tactics
      course. The course lays out the underlying principles behind good problem
      solving in climbing. The course is delivered in two lectures, including
      practical takeaways, drills, and cheat sheets to connect the course
      materials to everyday practice.
    </p> -->
    </Button>
  </section>
  <section class="imageContainer">
    <Image
      src="/imgs/topout.jpg"
      alt="Jesse Firestone"
      width="600"
      height="600"
      quality={95}
      format="jpg"
      sizes="(min-width: 1024px) 30vw, 80vw"
      widths={[400, 800, 1200, 2000]}
      class="headshot"
    />
  </section>
</section>
