---

---

<style lang="scss">
  @use "../../styles/all" as *;

  .hero {
    height: 100vh;
    color: $white;
    display: flex;
    align-items: center;
    position: relative;
    margin-top: -13vh;

    .hero-image {
      position: absolute;
      inset: 0;
      z-index: -2;

      img {
        max-width: 100%;
        height: 100vh;
        vertical-align: middle;
        font-style: italic;
        background-repeat: no-repeat;
        background-size: cover;
        shape-margin: 1rem;
        object-fit: cover;

        background-attachment: fixed;
        background-position: left;
      }
    }

    .hero-content {
      position: relative;
      min-width: 40%;
      margin-left: 5%;
      //   border: 1px solid black;

      .hero-header {
        width: 70%;
        display: flex;
        flex-direction: column;

        h1 {
          font-size: 10ch;
          letter-spacing: 0.05em;
          line-height: 0.95;
        }
        h1:nth-child(2) {
          align-self: flex-end;
          transform: translateX(0.4em);
        }
      }

      .hero-subHeader {
        h2 {
          font-style: italic;
        }
      }
      .hero-buttons {
        display: flex;
        justify-content: space-between;
        width: 50%;

        button {
          font: inherit;
          padding: 0.75em 2em;
          min-width: 10vw;
          font-size: 2ch;
          cursor: pointer;
          border-radius: 10px;
          font-weight: 400;

          //   border: 1px solid $white;
          box-shadow: inset 0 0 $white;
          color: $white;
          transition: all 0.4s ease-in-out;

          background: rgba($color: $white, $alpha: 0.15);
          backdrop-filter: blur(8px);
          -webkit-backdrop-filter: blur(8px);
          border: 1px solid rgba(255, 255, 255, 0.3);
          //   box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);

          transition:
            box-shadow 300ms ease-in-out,
            color 300ms ease-in-out;
          &:hover {
            box-shadow: 0 0 40px 40px $white inset;
            // box-shadow: inset 30em 0 $white;
            color: $black;
          }
        }
        button:nth-child(1) {
          margin-right: 10%;
        }
      }
    }
  }
</style>

<header class="hero">
  <section class="hero-image">
    <img src="/imgs/hero.jpg" alt="" />
  </section>
  <section class="hero-content">
    <div class="hero-header">
      <h1>Jesse</h1>
      <h1>Firestone</h1>
    </div>

    <div class="hero-subHeader">
      <h2>Climbing Progression, For Everyone.</h2>
    </div>

    <div class="hero-buttons">
      <button>Coaching</button>
      <button>Blog</button>
    </div>
  </section>
</header>
