---
import Social from "./Social.astro";
---

<style lang="scss">
  @use "../../styles/all" as *;

  footer {
    width: 100%;
    height: 40vh;
    background-color: $orange;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;

    h1 {
      color: $white;
      font-size: 4ch;
    }
  }
</style>

<footer>
  <h1>get in touch with me:</h1>
  <Social platform="youtube" username="astrodotbuild" />
</footer>
