---
import Navigation from "../global/Navigation.astro";
import MobileNavigation from "./MobileNavigation.astro";
import MobileButton from "./MobileButton.astro";
---

<style lang="scss">
  @use "../../styles/all" as *;

  header {
    width: clamp(320px, 90vw, 900px);
    z-index: 10;
    margin: 2% auto;
    border-radius: 10px;
    // height: 6vh;
    // border-radius: clamp(10px, 20px, 40px);
    background-color: $white;
    position: sticky;
    top: 30px;

    div {
      display: flex;
      justify-content: space-between;
      height: 6vh;
    }
  }

  @media (max-width: 768px) {
    header {
      top: 30px;
      // top: 0;

      div {
      }
    }
  }
</style>

<header>
  <div>
    <div></div>
    <MobileButton />
    <MobileNavigation />
    <Navigation />
  </div>
</header>
