---

---

<style lang="scss">
  @use "../../styles/all" as *;
  .nav-links {
    min-width: 50%;
    height: auto;
    gap: 2vw;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 4vw;

    a {
      text-decoration: none;
      color: $black;
    }
  }
</style>

<nav id="main-menu" class="nav-links">
  <a href="/">Home</a>

  <a href="/blog/">Blog</a>
  <a href="/coaching/">Coaching</a>
  <a href="/merch/">Merch</a>
  <a href="/innerFire/">Inner Fire</a>
  <a href="/tags/">Tags</a>
  <a href="/about/">About</a>
</nav>
